{% extends "base.njk" %}

{% block content %}

    <section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-hero-content text-center">
              <div class="site-hero-content-banner">
                <h2>
                  {{hero.subtitle.des}}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-about">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-about-wrapper">
              <div class="site-about-company text-center">
                <a class="site-about-company-icon" href="https://prototypefund.de/">
                  <img src="{% rootPath %}{{about.pfIcon}}" alt="Prototype Fund" />
                </a>
              </div>
              <div class="site-about-description">
                <p>
                  {{about.des}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-idea">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div>
              <h2>
                {{idea.title}}
              </h2>
              <p>
                {{idea.des}}
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="site-idea-item">
              <div class="site-idea-item-header">
                <div class="thumb">
                  <img class="site-idea-icon-image" src="{% rootPath %}{{idea.user.img}}" alt="user-thumb">
                </div>
                <div class="idea">
                  <p>{{ idea.user.des }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="site-idea-item">
              <div class="site-idea-item-header">
                <div class="thumb">
                  <img class="site-idea-icon-image" src="{% rootPath %}{{idea.chart.img}}" alt="user-thumb">
                </div>
                <div class="idea">
                  <p>{{ idea.chart.des }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="site-idea-item">
              <div class="site-idea-item-header">
                <div class="thumb">
                  <img class="site-idea-icon-image" src="{% rootPath %}{{idea.benefit.img}}" alt="user-thumb">
                </div>
                <div class="idea">
                  <p>{{ idea.benefit.des }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row site-idea-links">
              <div class="col-lg-3 col-md-6">
                <div class="site-idea-item-small">
                  <a href="{{idea.presentation.link}}">
                    <div class="site-idea-item-header-small">
                      <div class="thumb">
                        <img class="site-idea-icon-image-small" src="{% rootPath %}{{idea.presentation.img}}" alt="user-thumb">
                      </div>
                      <div class="idea">
                        <p>{{ idea.presentation.des }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="site-idea-item-small">
                  <a href="{{idea.article.link}}">
                    <div class="site-idea-item-header-small">
                      <div class="thumb">
                        <img class="site-idea-icon-image-small" src="{% rootPath %}{{idea.article.img}}" alt="user-thumb">
                      </div>
                      <div class="idea">
                        <p>{{ idea.article.des }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="site-idea-item-small">
                  <a href="{{idea.video.link}}">
                    <div class="site-idea-item-header-small">
                      <div class="thumb">
                        <img class="site-idea-icon-image-small" src="{% rootPath %}{{idea.video.img}}" alt="user-thumb">
                      </div>
                      <div class="idea">
                        <p>{{ idea.video.des }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="site-idea-item-small">
                  <a href="{{idea.code.link}}">
                    <div class="site-idea-item-header-small">
                      <div class="thumb">
                        <img class="site-idea-icon-image-small" src="{% rootPath %}{{idea.code.img}}" alt="user-thumb">
                      </div>
                      <div class="idea">
                        <p>{{ idea.code.des }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-team">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                {{team.title}}
              </h2>
              <p>
                {{team.des}}
              </p>
            </div>
          </div>
          {% for member in team.teamMembers %}
          <div class="col-lg-4 col-md-6">
            <div class="site-team-member">
              <div class="site-team-item-header">
                <div class="thumb">
                  <img class="site-team-member-image" src="{% rootPath %}{{member.img}}" alt="user-thumb">
                </div>
                <div class="person">
                  <h5>{{member.name}}</h5>
                  <p>{{member.dig}}</p>
                  <p>
                    <a href="{{member.social[1].link}}">
                      <img class="linkedin-logo-small" src="{% rootPath %}{{nav.linkedinLogo}}" alt="linkedin-logo" />
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

{% endblock %}
