/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Roxo HTML
VERSION:	1.0.0
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700&display=swap");

:root {
  --box-gradient: linear-gradient(to top right, #236695, #8DACCB);
  --on-white-color: #384361;
}

body {
  font-size: 16px;
  color: #9D9EA5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #362B29;
}

p {
  font-size: 16px;
  color: #9D9EA5;
}

h1 {
  font-size: 80px;
  color: var(--on-white-color);
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  color: var(--on-white-color);
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
  font-weight: 300;
}

body {
  background: #fff;
}

.section-title {
  margin-bottom: 70px;
}

@media (max-width: 991px) {
  .section-title {
    text-align: center;
  }
}

.section-title h2 {
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #fff;
}

@media (max-width: 991px) {
  .section-title h2 {
    font-size: 40px;
  }
}

.section-title p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.site-navigation {
  padding: 20px 0;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@media (max-width: 991px) {
  .site-navigation {
    background: #fff;
    margin: 10px;
    border-radius: 5px;
    top: 0;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
  }
}

@media (max-width: 575px) {
  .site-navigation {
    padding: 15px;
  }
}

.site-navigation .navbar-brand {
  padding: 0;
  margin: 0;
}

.site-navigation .navbar-brand img {
  max-width: 50px;
}

.github-link {
  padding-right: 25px;
}

.github-link img {
  max-width: 50px;
}

@media (max-width: 991px) {
  .site-navigation .nav-item {
    text-align: center;
  }

  .site-navigation .navbar-brand img {
    max-width: 50px;
  }

  .github-link {
    padding: 0;
  }

  .github-link img {
    margin: 0.5rem;
  }
}

.site-navigation .nav-link {
  color: #00113E;
  transition: all 0.3s ease;
  position: relative;
}

.site-navigation .nav-item .nav-link:hover {
  color: #EAA4A4;
}

.site-navigation .navbar-toggler {
  outline: 0;
  padding: 0;
}

.site-navigation .navbar-toggler .icon-bar {
  height: 2px;
  width: 25px;
  transition: all 0.2s;
  background: #00113E;
  display: block;
}

.site-navigation .navbar-toggler .icon-bar:not(:last-child) {
  margin-bottom: 5px;
}

.site-navigation .navbar-toggler .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.site-navigation .navbar-toggler .icon-bar:nth-child(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.site-navigation .navbar-toggler .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.site-navigation .navbar-toggler.collapsed .icon-bar:nth-child(1) {
  transform: rotate(0);
}

.site-navigation .navbar-toggler.collapsed .icon-bar:nth-child(2) {
  opacity: 1;
  filter: alpha(opacity=1);
}

.site-navigation .navbar-toggler.collapsed .icon-bar:nth-child(3) {
  transform: rotate(0);
}

.site-navigation.nav-bg {
  padding: 12px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
}

@media (max-width: 575px) {
  .site-navigation.nav-bg {
    padding: 15px;
  }
}

.site-hero {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(250, 250, 250, 0.4), rgba(250, 250, 250, 0.4)), url('../images/landscape_background.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .site-hero {
    height: 100vh;
    padding: 200px 0;
    background-size: 100%;
  }
}

@media (max-width: 575px) {
  .site-hero {
    padding: 150px 0;
    background-size: 100%;
  }
}

.site-hero-content h1 {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .site-hero-content h1 {
    font-size: 40px;
  }
}

.site-hero-content-banner {
  margin-bottom: 70px;
}

.site-hero-content-buttons li {
  display: inline-block;
}

@media (max-width: 575px) {
  .site-hero-content-buttons li {
    display: block;
  }
}

.site-hero-content-buttons li:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 575px) {
  .site-hero-content-buttons li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.site-hero-content-buttons li .btn {
  font-weight: 600;
}

@media (max-width: 575px) {
  .site-hero-content-buttons li .btn {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}

.site-hero-scroll {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
}

.site-idea {
  background: #fff;
  padding: 100px 0;
  overflow: hidden;
  color: #fff;
}

@media (max-width: 991px) {
  .site-idea {
    text-align: center;
  }
}

.site-idea h2 {
  color: #00113E;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.site-idea p {
  font-size: 20px;
  font-weight: 300;
  color: #00113E;
}

.site-idea-item {
  padding: 65px 30px 65px 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 767px) {
  .site-idea-item {
    text-align: center;
  }
}

.site-idea-item-small {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.site-idea-item-small p {
  font-size: 15px;
  font-weight: 300;
  color: #00113E;
  text-align: center;
  margin-bottom: 0px;
}

.site-idea-icon-image-small {
  max-width: 45px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .site-idea-item-small {
    text-align: center;
  }

  .site-idea-links {
    margin: 0px 10px 0px 10px;
  }
}

.navbar-ul {
  align-items: center;
}

.site-idea-item-header {
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.site-idea-item-header-small {
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  justify-content: center;
}

.site-idea-item-header p {
  font-size: 18px;
  color: #00113E;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
}

.site-idea-icon-image {
  width: 120px;
  height: 120px;
  border-radius: 5%;
  overflow: hidden;
  margin-bottom: 25px;
}

.site-idea-links {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.site-about {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 20vh;
  display: flex;
  align-items: center;
  background-image: var(--box-gradient);
}

@media (max-width: 575px) {
  .site-about {
    padding-top: 60px;
    height: auto;
    text-align: center;
  }
}

.site-about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.site-about-company {
  background-color: #F7F9FF;
  color: #00113E;
  font-size: 30px;
}

@media (max-width: 991px) {
  .site-about-company {
    margin-bottom: 30px;
  }
}

.site-about-company h1 {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  line-height: 60px;
  letter-spacing: 1px;
}

.site-about-description {
  width: 60%;
  padding-left: 50px;
}

@media (max-width: 991px) {
  .site-about-description {
    width: 100%;
    padding: 0 38px;
  }
}

.site-about-description p {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 0;
}

.site-about-company-icon img {
  width: 300px;
  border-radius: 5%;
}

@media (max-width: 991px) {
  .site-about-company-icon img {
    width: 200px;
    border-radius: 5%;
  }
}

.site-team {
  background-image: var(--box-gradient);
  padding: 100px 0;
  overflow: hidden;
  color: #fff;
}

.person h5 {
  color: #fff;
}

.site-team-member p {
  color: white;
}

.site-team-member {
  padding: 65px 30px 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .site-team-member {
    text-align: center;
  }
}

.site-team-member-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.site-team-member-image {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  overflow: hidden;
  margin-bottom: 25px;
}

.site-team-member-content p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 300;
}

.site-team-member-social {
  margin: 0;
  padding: 0;
}

.site-team-member-social li {
  display: inline-block;
}

.site-team-member-social li a {
  color: #00113E;
}

.site-team-member-social li:not(:last-child) {
  margin-right: 10px;
}

.site-contact {
  padding: 150px 0 100px;
  background: #F7F9FF;
}

@media (max-width: 575px) {
  .site-contact {
    padding: 120px 0 100px;
  }
}

.site-contact-title {
  font-weight: 700;
}

@media (max-width: 767px) {
  .site-contact-title {
    font-size: 40px;
  }
}

.site-contact-title span {
  color: #EAA4A4;
}

.site-footer {
  background: #fff;
  padding: 50px;
}

.site-footer-link {
  justify-content: center;
  padding: 30px;
}

.contact-form-generator {
  margin-top: 20px;
}

.contact-form-generator a {
  color: #9D9EA5;
  font-size: 13px;
  margin-bottom: 50px;
  letter-spacing: 3px;
}

/*# sourceMappingURL=maps/style.css.map */
.linkedin-logo-small {
  width: 25px;
}

.linkedin-logo-footer {
  width: 42px;
}

.footer-divider {
  margin: 0 10px;
  font-size: x-large;
  color: lightgray;
}

.footer-mailto {
  margin-top: 6px;
}